<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- NOTE: This plug-in is enabled through the web interface, but only affects the builder, which is why there is -->
  <!--       very little configuration information here.  Run the install scripts and see the readme file.          -->
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="WolfsonianBuilderModule" name="Wolfsonian Builder Module" version="1.0" canDisable="host" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new folder builder module, which allows pre-processing to occur before items are picked up by the builder.  This allows MODS files to come in without a METS wrapper and allows files and folders to be named by accession number.  If the accession number is present in a current item, the incoming files and folders will be processed as an update package.  Otherwise, a new BibID will be assigned and this will be treated as a new package.  In addition, the METS/MODS is written and some clean-up is performed on the metadata at the same time. </Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>This plug-in is released as open-source and under the GPLv3 license for any to use in part or in whole.</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="WolfsonianBuilderModule" name="WolfsonianBuilderModule.dll" />
  </Extension>
  
</SobekCM_Config>